{% extends "Main::layouts/layout.html.twig" %}

{%- block title -%}404 - stránka nenalezena{%- endblock -%}

{% block page_body %}

    <div class="text-center page-row text-white title">
        <div class="row">
            <div class="large-10 medium-10 push-1 columns">
                <h1 class="text-white">404 - stránka nenalezena</h1>
                <p>Požadovaná stránka nebyla nalezena :(</p>
            </div>
        </div>
    </div>

{% endblock %}
