// Core Styles
@use "sass:math";

html {
    font-size: ($base-font-size * 1px);
    line-height: math.div(28, $base-font-size);
    font-family: "Georgia", serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #808080;
    text-size-adjust: 100%;
    scroll-behavior: smooth;

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
}

body {
    padding: 0;
    margin: 0;
}

a {
    color: $color-primary;
}

strong {
    font-weight: 700;
}

svg {
    display: block;
}

h1, h2, h3, h4 {
    font-family: "Montserrat";
    font-weight: 700;
    color: #cfa33a;
    text-transform: uppercase;
    line-height: 1.1;
    margin: 0;
    margin-bottom: rem-calc($base-font-size);
}

h1 {
    font-size: rem-calc(70);
}

h2 {
    font-size: rem-calc(36);
}

h3 {
    font-size: rem-calc(24);
    font-weight: 500;
    color: #324742;
    margin: 0;
}
